<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="contact">
    <div class="container">

        <div class="section-title">
            <h2><span>Contact</span> Us</h2>
        </div>
    </div>

    <div class="container mt-5">

        <div class="info-wrap">
            <div class="row">
                <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                    <i class="bi bi-geo-alt"></i>
                    <h4>Location:</h4>
                    <p>[[${info.location}]]</p>
                </div>

                <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                    <i class="bi bi-clock"></i>
                    <h4>Open Hours:</h4>
                    <p>[[${info.open}]]</p>
                </div>

                <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                    <i class="bi bi-calendar-x"></i>
                    <h4>Day Off:</h4>
                    <p>[[${info.close}]]</p>
                </div>

                <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                    <i class="bi bi-envelope"></i>
                    <h4>Instagram:</h4>
                    <a th:href="@{'https://instagram.com/' + ${info.instagram}}">
                        <p>@[[${info.instagram}]]</p>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                    <i class="bi bi-phone"></i>
                    <h4>Call:</h4>
                    <a th:href="@{'tel:' + ${info.phone}}">
                        <p>[[${info.phone}]]</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</th:block>