<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/userIndex :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- ======= 레스토랑 배너 ======= -->
        <section id="hero">
            <th:block th:replace="sushi/fragment/hero :: hero"></th:block>
        </section><!-- End Hero -->

        <!-- ======= 예약 등록 ======= -->
        <main id="main">
            <section id="book-a-table" class="book-a-table">
                <th:block th:replace="sushi/fragment/book :: book"></th:block>
            </section><!-- End Book A Table Section -->
        </main>

    </th:block>
</th:block>

